<nav class="navbar navbar-expand-lg navbar-expand-md" style="background-color: #7952b3;">
    <div class="container-fluid">
      <h2 class="navbar-brand" >Home</h2>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4">
          <li class="nav-item">
            <button type="button" class="btn btn-danger btn-sm"   routerLink="/user_form" >User_Form</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-warning btn-sm" routerLink="/user_list">User_List</button>
          </li>
          <li>

              <button type="button" class="btn btn-warning btn-sm" *ngIf="this.gs_user.login_user_data && this.gs_user.login_user_data.role === 'Manager'"  routerLink="/welcom_page"  >Total Expense Report</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-success btn-sm" routerLink="/expense-report"  >Expence Report</button>
          </li>

          <li class="nav-item">
            <button type="button" class="btn btn-success btn-sm" routerLink="/expense-form"  >Expence form</button>
          </li>
          <li class="nav-item">
           <h4 ><strong>{{this.gs_user.login_user_data.name}}</strong></h4>
          </li>
        </ul>

        <div class="d-flex gap-3">
          <!-- <p>{{this.gs_user.login_user_data.name}}</p> -->
          <!-- <input class="div-control me-2"  type="search" [(ngModel)]="this.search" (ngModelChange)="click($event)"  placeholder="Search" aria-label="Search"> -->
          <button class="btn btn-primary btn-sm" *ngIf="!this.gs_user.login_user_data.username"  type="button" routerLink="/sign-in">Sign_in</button>
          <button class="btn btn-primary btn-sm" *ngIf="this.gs_user.login_user_data.username" (click)="log_out()" type="button" >Log Out</button>
        </div>
      </div>  
    </div>
  </nav>
